body {
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
    background-color: #fff9e6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 4em;
    text-align: center;
}

h2 {
    color: #333333;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: #333;
    font-size: 3em;
    text-align: center;
    margin-bottom: -50px;
}

h4{
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-top: 150px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    width: 30%;
    max-width: 250px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    object-fit: cover;
    border-radius: 50%;
}


